{{ define "about/index.tmpl" }}

{{ template "header.tmpl" }}

<h1>{{ .title }}</h1>
<p> This is the about page. This website demonstrates my
usage of using the gin web framework for golang. I am 
attempting to create a note taking website. </p>
<p> Keep in mind that this website is in work in progress. </p>

{{ template "footer.tmpl" }}

{{ end }}
