{{ define "home/index.tmpl" }}
<html>
	<h1> {{ .title }} </h1>
	<p> Welcome to the home page. Welcome to the note taking app 
	written with the Gin framework. </p>
	<p> Keep in mind that this website is a work in progress. </p>
</html>
{{ end }}
