<!--body.html-->

<!doctype html>
</head> 
	<body>
		<header>
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  				<div class="container-fluid">
    				<a class="navbar-brand" href="/">Notebook</a>
    				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      					<span class="navbar-toggler-icon"></span>
    				</button>
    				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
     	 				<div class="navbar-nav">
							<a class="nav-link" href="/">Home</a>
        					<a class="nav-link" href="/about">About</a>
						</div>
						<div class="navbar-nav ms-auto">
							<a class="nav-link" href="/login">Login</a>
        					<a class="nav-link" href="/register">Register</a>

							{{ if ne .user nil }}
        						<a class="nav-link" href="/dummy">Dummy</a>
							{{ end }}

							<li class="nav-item dropdown">
          						<a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" 
								role="button" data-bs-toggle="dropdown" aria-expanded="false">
            						My Account
          						</a>
          						<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            						<li>
										<a class="dropdown-item" href="/view-notes">Notes</a>
									</li>
    								<li>
										<a class="dropdown-item" href="/logout">Logout</a>
									</li>
          						</ul>
        					</li>
						</div>
    				</div>
  				</div>
			</nav>		
		</header>
		<article>

