{{ define "about/index.tmpl" }}

{{ template "header.tmpl" }}

<h1>{{ .title }}</h1>
<p> 
	This is a note taking app called Notebook. 
	I designed the app so I can I utilize it on
	my home server when I want to take notes on my other devices. 
	The home server is running on a Raspberry Pi.
</p>

{{ template "footer.tmpl" }}

{{ end }}
