{{ define "about/index.tmpl" }}

{{ template "head.tmpl" }}
<!--Use the `title` variable to set the title of the page-->
<title> {{ .title }} </title>

{{ template "body.tmpl" }}

<h1>{{ .page_title }}</h1>
<p> 
	This is a note taking app called Notebook. 
	I designed the app so I can I utilize it on
	my home server when I want to take notes on my other devices. 
	The home server is running on a Raspberry Pi.
</p>

{{ template "footer.tmpl" }}

{{ end }}
