{{ define "home/index.tmpl" }}

{{ template "header.tmpl" }}

<h1> {{ .page_title }} </h1>
<p> Welcome to the Notebook app. You can go to the notes tab to view your notes. </p>

{{ template "footer.tmpl" }}

{{ end }}
